<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content=<%=@keywords%>>
        <meta name="description" content="Just a test task">
        <title><%=@title%></title>
        <!--[if lt IE 9]> Get a better browser :) <![endif]-->
    </head>

    <body>
    <%=yield%>
    </body>
</html>
